python-dotenv
PyYAML
tqdm==4.66.4
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
scipy==1.13.1
matplotlib==3.9.2
seaborn==0.13.2
mlflow==2.16.0
dagshub
Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==22.0.0      
requests==2.32.3
python-json-logger==2.0.7
ipykernel
xgboost
pymongo[srv]==3.12
python-box
ensure